
    <div class="row my-2">
        <p style="font-size:15px; text-align:center;">자신의 반려동물에 관련된 글을 작성해주세요!</p>
        <div class="col-1">
            <a href="{% url 'mypet:poster_create' %}" class="btn btn-primary">글쓰기</a>
        </div>
        <div class="p-2 text-center col-5">
            {% if not request.user.is_authenticated %}
            <p style="font-size:0.9em; text-align: left;">로그인 한 사람만 글을 작성할 수 있습니다.</p>
            {% endif %}
        </div>

        <div class="col-5">
            <span><input type="text" class="form-control" id="search_kw"></span>
        </div>
        <div class="col-1">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
        </div>
    </div>

    <!--글쓰기~ 안내문~ 검색버튼 -->